@import '@/styles/vars.scss';

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 48px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.buttonGroup {
    display: flex;
    gap: 12px;
}

.info {
    color: $link-color;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}
