@import '@/styles/vars.scss';

.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 8px;
    width: 240px;
}

.carousel {
    background-color: $tile-color;
    z-index: 0;
    border-radius: 8px 8px 8px 8px;
}

.wrapper {
    height: 180px;
    border-radius: 8px 8px 0 0;
    gap: 6px;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 40px 26px -6px $tile-color inset, 0px -30px 26px -6px $tile-color inset;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    will-change: transform;
    z-index: -1;
    a {
        cursor: pointer;
    }
    img {
        border-radius: 8px;
    }
    div {
        width: 76px;
        height: 110px;
        border-radius: 8px;
        aspect-ratio: 1/1.53;
        display: inline-block;
        position: relative;
        overflow: hidden;
        background-color: $main-bg-color;
        border-radius: 8px;
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
                90deg,
                rgba($main-bg-color, 0) 0,
                rgba($main-bg-color, 0.2) 20%,
                rgba($main-bg-color, 0.5) 60%,
                rgba($main-bg-color, 0)
            );
            animation: shimmer 2s infinite;
            content: '';
        }

        @keyframes shimmer {
            100% {
                transform: translateX(100%);
            }
        }
    }
    &:nth-child(1) {
        transform: translateY(-55px);
        animation: bannermove 40s linear infinite;
    }
    &:nth-child(2) {
        transform: translateY(0);
        animation: bannermove 46s linear infinite;
    }
    &:nth-child(3) {
        transform: translateY(-55px);
        animation: bannermove 40s linear infinite;
    }
}

.description {
    position: relative;
    background-color: $tile-color;
    padding: 16px;
    border-radius: 8px;
    & > div {
        display: flex;
        align-items: center;
    }
    img {
        margin-right: 8px;
    }
    &.active {
        .price {
            opacity: 1;
            transform: translateY(-73px);
            padding: 8px 14px 8px;
        }
        .subscriptionButton {
            opacity: 1;
        }
    }
}

.price {
    position: absolute;
    background: $opacified-tile-color;
    width: 100%;
    left: 0;
    transform: translateY(0);
    padding: 8px 14px 0px;
    transition: 0.3s;
    box-shadow: 0px -20px 40px 0px $tile-color;
    div {
        p {
            font-size: 20px;
            font-weight: bold;
            color: $accent-color;
            margin-bottom: 8px;
        }
        span {
            color: $film-name-color;
            font-size: 13px;
        }
    }
}

.subscriptionButton {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    button {
        margin-bottom: 8px;
        border: none;
        background-color: $subscription-button-color;
        color: $accent-color;
        font-size: 13px;
        border-radius: 8px;
        width: 100%;
        font-weight: bold;
        height: 32px;
        cursor: pointer;
        z-index: 10;
    }
    small {
        color: $movies-title-color;
        font-size: 10px;
    }
}

@keyframes bannermove {
    100% {
        transform: translateY(calc(-200% + 100px));
        will-change: transform;
    }
}
