.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1216px;
    min-width: 310px;
}

@media screen and (max-width: 1279px) {
    .container {
        width: calc(100vw - 52px);
        padding: 0 12px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        width: calc(100vw - 40px);
        padding: 0px;
    }
}
