@import '@/styles/vars.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding-top: 24px;
}

.noFilm {
    color: $accent-color;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    padding-top: 50px;
}

.loading {
    margin-top: 24px;
    color: $accent-color;
    font-size: 48px;
    text-align: center;
    padding-top: 50px;
    transition-duration: 0.4s;
    animation: loadingAnimation 0.4s alternate-reverse infinite;
}

@keyframes loadingAnimation {
    from {
        color: $accent-color;
    }
    to {
        color: $link-color;
    }
}
