.wrapper {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding-bottom: 48px;
    padding-top: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    border-top: 1px solid rgba(255, 255, 255, 0.35);
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;

    > li {
        &:first-child {
            font-weight: 700;
            color: #ffffff;
            cursor: auto;
        }
        color: rgba(255, 255, 255, 0.48);
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            color: #ffffff;
        }
    }
}

.violet {
    background-image: linear-gradient(-45deg, #c447ff, #ea003d);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.column {
    display: flex;
    flex-direction: column;

    > div {
        &:first-child {
            font-weight: 700;
            color: #ffffff;
        }
        color: rgba(255, 255, 255, 0.48);
        font-size: 14px;
        line-height: 20px;
    }

    > .white {
        color: #ffffff;
    }
}

.support {
    margin-bottom: 5px;
}

.help {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.speaker {
    width: 286px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.48);
    font-size: 14px;
    line-height: 20px;
}
