@import '@/styles/vars.scss';




.wrapper {
    padding-top: 48px;
    padding-bottom: 48px;

}

.top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    > h3 {
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        color: $accent-color;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

.bottom {
    position: relative;
}


.nextButton,
.prevButton {
    width: 25px;
    height: 44px;
    position: absolute;
    cursor: pointer;

    > svg {
        width: 100%;
        height: 100%;
    }

    > img {
        width: 100%;
        height: 100%;
    }
}

.nextButton {
    top: 50px;
    right: -50px;
}
.prevButton {
    top: 50px;
    left: -50px;
}

