@import '@/styles/vars.scss';

.wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
}

.topTen {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1250px) {
        max-width: 1000px;
    }

    @media screen and (max-width: 1000px) {
        width: 750px;
    }

    @media screen and (max-width: 750px) {
        width: 470px;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $accent-color;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;

    > span {
        margin-bottom: 8px;
    }
}
