@import '@/styles/vars.scss';

.name {
    color: $accent-color;
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 10px;
    position: sticky;
    top: 0;
}

.info {
    color: $film-description-color;
    display: flex;
    font-weight: 500;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.buttons,
.mobileButtons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 20px;
    color: $accent-color;
}

.mobileButtons {
    width: 100%;
}

.smallMobileButtons {
    padding: 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    max-width: 70px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mobileFlex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttonsRight {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descriptionClosed,
.descriptionOpened,
.mobileDescription {
    text-align: justify;
    line-height: 20px;
    color: $accent-color;
    width: 70%;
}

.descriptionClosed {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mobileDescription {
    width: 100%;
}

.detailsOpened,
.detailsClosed {
    text-align: left;
    color: $link-color;
    cursor: pointer;
    margin-top: 5px;

    &:hover {
        color: $accent-color;
        transition: all 0.3s;
    }
}

.detailsOpened {
    display: none;
}

.header {
    color: $accent-color;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $accent-color;
    margin-top: 20px;
}

.slider {
    margin-top: -50px;
}

@media screen and (max-width: 1200px) {
    .slider {
        margin-top: -10px;
    }
}
