@import '@/styles/vars.scss';

.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    color: $accent-color;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: $accent-color;
}

.flex {
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
}

.slider {
    margin-top: -60px;
}
