@import '@/styles/vars.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.trailer {
    width: 720px;
    height: 405px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobileTrailer {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.mobileFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.icons {
    display: flex;
    gap: 10px;

    > a > div {
        color: rgba(255, 255, 255, 0.68);
    }
}
