@import '@/styles/vars.scss';

.label {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    > input {
        height: 40px;
        padding: 18px 12px 2px;
        background-color: $promo-color;
        outline: none;
        border-radius: 10px;
    }
}

.error {
    position: absolute;
    bottom: -20px;
    left: 20px;
    color: red;
    font-size: 16px;
}

.form {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    gap: 20px;
}

.float {
    position: absolute;
    top: 4px;
    left: 30px;
    height: 100%;
    padding-top: 5px;
    pointer-events: none;
    border: 1px solid transparent;
    width: calc(100% - 60px);
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $tile-color;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.2s ease-in-out;
}

.inputComment:focus + .float,
.inputComment:not(:placeholder-shown) ~ .float {
    transform: scale(0.8) translateY(-30%);
}
