@import '@/styles/vars.scss';

.wrapper {
    display: flex;
}

.imageContainer {
    position: relative;
    height: 120px;
    width: 80px;
    margin-right: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: center;
    margin-right: 20px;
}

.year,
.filmTitle {
    font-weight: 700;
}

.rating {
    color: $promo-color;
}

.button {
    align-self: center;
    margin-left: auto;
}
