@import './variables';
@import './mixins';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    all: unset;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

body {
    background-color: $main-bg-color;
}
