@import './reset';
@import './vars';
@import './mixins';

body {
    background-color: $main-bg-color;
    font-size: 15px;
}

a {
    color: inherit;
    text-decoration: none;
    all: unset;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}
