.main__slider {
    .swiper-button-next {
        position: absolute !important;
        top: calc(50% - 15px) !important;
        right: -50px !important;

        z-index: 100 !important;
    }
    .swiper-button-prev {
        position: absolute !important;
        top: calc(50% - 15px) !important;
        left: -50px !important;
        z-index: 100 !important;
    }
    .swiper-slide-next {
        opacity: 0.5;
    }
    .swiper-slide-prev {
        opacity: 0.5;
    }
}

.medium__slider {
    .swiper-button-disabled {
        opacity: 0.5;
    }
    .swiper-wrapper {
        margin-top: 10px;
    }
}

.small__slider {
    .swiper-button-disabled {
        opacity: 0.5;
    }
}
