$main-bg-color: #100e19;
$secondary-bg-color: #312b45;
$link-color: rgba(255, 255, 255, 0.48);
$movies-title-color: #a5a1b2;
$film-description-color: rgba(255, 255, 255, 0.72);
$accent-color: #ffffff;
$active-menu-color: #1f1b2e;
$divider-color: #434151;
$tile-color: #302a45;
$opacified-tile-color: rgba(48, 42, 69, 0.95);
$subscription-button-color: #ea003d;
$promo-color: #a5a1b2;
$grey-button-color: rgba(255, 255, 255, 0.08);
$rating-button-color: #73a32f;
$footer-bg-color: rgba(31, 27, 46, 0.88);
$breadcrumbs-link-color: #7f798e;
$danger-zone-color: #ea003d;
$active-range-color: #9f62e5;
$active-filter-color: #7f788f;
$film-name-color: #d9d7e0;
$auth-bg-color: #09070e;
$auth-icons-color: rgba(31, 27, 46, 0.2);
$progressbar-bg-color: rgba(127, 122, 144, 0.32);
$title-shadow-color: rgba(255, 255, 255, 0.16);
