@import '@/styles/vars.scss';

.wrapper {
    margin-bottom: 80px;
    position: relative;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(153px, 1fr));
    gap: 24px;
}

@media screen and (max-width: 1280px) {
    .list {
        grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
    }
}
