@import '@/styles/vars.scss';

.button {
    border-radius: 8px;
    color: #ffffff;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;

    &:not(:disabled):hover {
        filter: brightness(1.2);
    }
    &:disabled {
        cursor: auto;
        filter: brightness(0.8)
    }
}

.paySubscription {
    width: 151px;
    height: 32px;
    background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
}

.headerThirtyDays {
    width: 212px;
    height: 32xpx;
    background-color: #ea003d;
    font-size: 13px;
    line-height: 32px;
    font-weight: 600;
    padding: 0;
}

.watchSubscription {
    width: 201px;
    height: 40px;
    background-color: #ea003d;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.thirtyDays,
.certificate {
    width: 596px;
    height: 48px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    gap: 8px;
}

.thirtyDays {
    background-color: #2d1c40;
}

.certificate {
    background-color: #1e1b2e;
}

.chat {
    background-color: #1e1b2e;
    width: 196px;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.footer {
    padding: 9px 15px;
    background-color: #1f1b2e;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.bigThirtyDays {
    width: 65.3%;
    background-color: $subscription-button-color;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 9px 15px;
    display: block;
    color: $accent-color;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background-color: lighten($subscription-button-color, 5%);
        filter: none;
    }
}

.register {
    width: 100%;
    background-color: $subscription-button-color;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 9px 15px;
    display: block;
    color: $accent-color;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        background-color: lighten($subscription-button-color, 5%);
    }
}

.watch {
    width: 140px;
    height: 40px;
    background-color: #312b45;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}

.rating {
    width: 72px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $accent-color;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.32);

    &:hover {
        border: 1px solid $accent-color;
    }
}
