@import '@/styles/vars.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: $main-bg-color;
    border-bottom: 2px solid $secondary-bg-color;
    height: 52px;
}

.title {
    font-weight: bold;
    padding-left: 36px;
    padding-top: 2px;
    font-size: 15px;
    color: $accent-color;
}

.back {
    cursor: pointer;
    padding-top: 3px;
    svg {
        stroke: #BCBDBE;
        width: 30px;
        height: 30px;
        stroke-width: 2;
        transition: 0.3s;
        &:hover {
            transform: scale(1.1);
            stroke: $accent-color;
        }
    }
}
