@import '@/styles/mixins.scss';
@import '@/styles/vars.scss';

.header {
    color: white;
}

.top {
    width: 100%;
    max-width: 1240px;
    margin: 3px auto 0;
    border-radius: 12px 12px 0 0;
    transition: 0.3s;
    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        max-width: 1240px;
        height: 7px;
        z-index: 98;
        transition: 0.3s;
        background-color: transparent;
    }
}

.wrapper {
    margin: 0 auto;
    max-width: 1216px;
    width: 100%;
}

.topExpanded {
    background-color: $active-menu-color;
    &::after {
        background-color: $active-menu-color;
    }
}

.topCollapsed {
    background-color: transparent;
}

.inner {
    margin: 0 -12px;
}

.dropdown {
    width: 100%;
    max-width: 1240px;
    margin: 0 -12px 0;
    padding: 32px 24px 32px;
    top: 76px;
    position: absolute;
    z-index: 99;
    border-radius: 0 0 12px 12px;
    border-top: 1px solid transparent;
    transition: 0.3s;
}

.dropdownExpanded {
    border-top: 1px solid $divider-color;
    background-color: $active-menu-color;
}

.body {
    padding: 0 12px;
}

.logo {
    padding-top: 2px;
    margin-right: 33px;
    cursor: pointer;
}

.content {
    @include flex-list;
    height: 67px;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 15px;
    align-items: center;
    li {
        font-weight: 15px;
        font-weight: 600;
        line-height: 69px;
        color: $link-color;
        cursor: pointer;
        transition: all 0.4s;
        a {
            letter-spacing: 0.5px;
        }
        &:hover {
            color: $accent-color;
        }
    }
}
.panel {
    display: flex;
    align-items: center;
    gap: 15px;
}
.search {
    button {
        border: none;
        background-color: transparent;
        color: $link-color;
        line-height: 20px;
        cursor: pointer;
        transition: all 0.4s;
        div {
            font-size: 15px;
            font-weight: normal;
            font-weight: 600;
            div {
                letter-spacing: 0.5px;
            }
            &::before {
                margin-right: 8px;
                content: '\f002';
                font-family: 'FontAwesome';
                font-weight: 400;
                font-size: 18px;
                display: inline-block;
            }
        }
        &:hover {
            color: $accent-color;
        }
    }
}
.language {
    button {
        border: 1px solid $tile-color;
        height: 30px;
        width: 30px;
        border-radius: 8px;
        background-color: transparent;
        color: $link-color;
        cursor: pointer;
        transition: 0.4s;
        &:hover {
            color: $accent-color;
        }
    }
}

.avatar {
    a {
        display: block;

        > div {
            border-radius: 8px;
            border: 2px solid $link-color;
            background-color: transparent;
            cursor: pointer;
            height: 48px;
            width: 48px;
            display: flex;
            transition: all 0.4s;
            div {
                margin: auto;
                &::before {
                    font-family: 'FontAwesome';
                    color: $link-color;
                    content: '\f2c0';
                    font-weight: 400;
                    font-size: 20px;
                    transition: all 0.4s;
                }
            }
            &:hover {
                border: 2px solid $accent-color;
                -webkit-box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.2);
                -moz-box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.2);
                box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.2);
                div {
                    &::before {
                        color: $accent-color;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 1279px) {
    .top::after {
        display: none;
    }

    .top {
        max-width: auto;
        width: auto;
        margin: 3px 20px 0;
    }
    .wrapper {
        width: auto;
        margin: 0 12px;
    }
    .dropdown {
        width: calc(100% - 40px);
        top: auto;
    }
}

@media screen and (max-width: 600px) {
    .body {
        padding: 0;
    }
    .top,
    .wrapper {
        width: auto;
        margin: 0 16px;
    }
}
