<header class="headerTop__innerWrapper">
    <div
        id="headerTop"
        class="headerTop headerTop_withoutBorder headerTop_state_init headerTop_hasDropdownMenu"
    >
        <div class="headerTop__grid">
            <div class="headerTop__grid-inner">
                <div class="headerTop__body">
                    <div class="headerTop__content">
                        <div
                            data-test="header_logo"
                            class="headerTop__headerLogo headerLogo"
                            itemscope=""
                            itemtype="http://schema.org/Organization"
                        >
                            <div class="headerLogo__body">
                                <a
                                    class="headerLogo__link"
                                    href="/"
                                    itemprop="url"
                                    title="Онлайн-кинотеатр Иви"
                                    ><span
                                        class="headerLogo__text"
                                        itemprop="name"
                                        >ivi</span
                                    ><img
                                        class="nbl-picture"
                                        src="https://solea-parent.dfs.ivi.ru/picture/ea003d,ffffff/reposition_iviLogoPlateRounded.svg"
                                        itemprop="logo"
                                        alt="ivi"
                                /></a>
                            </div>
                        </div>
                        <div
                            data-test="header_menu_container"
                            class="headerTop__headerMenu headerMenu headerMenu_hasFullDropdown"
                        >
                            <nav class="headerMenu__navigation">
                                <ul class="headerMenu__list">
                                    <li class="headerMenu__listItem">
                                        <a
                                            href="https://www.ivi.ru/"
                                            title="Мой Иви"
                                            data-test="menu_section_my_ivi"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                Мой Иви
                                            </div></a
                                        >
                                    </li>
                                    <li class="headerMenu__listItem">
                                        <a
                                            href="https://www.ivi.ru/new"
                                            title="Что нового"
                                            data-test="menu_section_whatsnew"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                Что нового
                                            </div></a
                                        >
                                    </li>
                                    <li
                                        class="headerMenu__listItem headerMenu__listItem_expanding"
                                    >
                                        <a
                                            href="https://www.ivi.ru/movies"
                                            title="Фильмы онлайн"
                                            data-test="menu_section_films"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                Фильмы
                                            </div></a
                                        >
                                    </li>
                                    <li
                                        class="headerMenu__listItem headerMenu__listItem_expanding"
                                    >
                                        <a
                                            href="https://www.ivi.ru/series"
                                            title="Сериалы онлайн"
                                            data-test="menu_section_menu_serials"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                Сериалы
                                            </div></a
                                        >
                                    </li>
                                    <li
                                        class="headerMenu__listItem headerMenu__listItem_expanding"
                                    >
                                        <a
                                            href="https://www.ivi.ru/animation"
                                            title="Мультфильмы онлайн"
                                            data-test="menu_section_kids"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                Мультфильмы
                                            </div></a
                                        >
                                    </li>
                                    <li
                                        class="headerMenu__listItem headerMenu__listItem_expanding"
                                    >
                                        <a
                                            href="https://www.ivi.ru/tvplus"
                                            title="TV+"
                                            data-test="menu_section_tv_plus"
                                            class="nbl-button nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                            ><div
                                                class="nbl-button__primaryText"
                                            >
                                                TV+
                                            </div></a
                                        >
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="headerTop__wideArea">
                            <div
                                class="headerTop__additionalButton headerTop__additionalButton_isAbTest"
                                data-test="header_subscription_button"
                            >
                                <div
                                    class="nbl-button nbl-button_textAlign_center nbl-button_style_kioshi nbl-button_hasBadge_0"
                                >
                                    <div class="nbl-button__primaryText">
                                        Смотреть 30 дней бесплатно
                                    </div>
                                </div>
                            </div>
                            <div class="headerTop__headerSearch">
                                <button
                                    data-test="header_search"
                                    class="nbl-button nbl-button_iconMode_withIcon nbl-button_style_sairo nbl-button_size_stryker nbl-button_hasBadge_0"
                                >
                                    <div class="nbl-button__primaryText">
                                        <div
                                            class="nbl-icon nbl-icon_search_16 nbl-button__nbl-icon"
                                        ></div>
                                        Поиск
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div
                            data-test="header_pull_notifications"
                            class="headerTop__headerNotify headerNotify"
                        >
                            <a
                                class="headerNotify__link"
                                href="https://www.ivi.ru/profile/pull_notifications"
                                ><div
                                    class="nbl-simpleControlButton nbl-simpleControlButton_size_quill nbl-simpleControlButton_style_mali"
                                >
                                    <div
                                        class="nbl-simpleControlButton__content"
                                    >
                                        <div
                                            class="nbl-icon nbl-icon_pull_16 nbl-simpleControlButton__nbl-icon"
                                        ></div>
                                    </div></div
                            ></a>
                        </div>
                        <div
                            data-test="header_avatar"
                            class="headerTop__headerAvatar headerAvatar"
                        >
                            <a
                                class="headerAvatar__link"
                                href="https://www.ivi.ru/profile"
                                title="Войти в профиль"
                                ><div
                                    class="nbl-button nbl-button_iconMode_onlyIcon nbl-button_style_unu nbl-button_size_blaze nbl-button_hasBadge_0"
                                >
                                    <div
                                        class="nbl-icon nbl-icon_avatar_20 nbl-button__nbl-icon"
                                    ></div></div
                            ></a>
                        </div>
                    </div>
                    <div
                        class="headerDropdownBody"
                        id="headerDropdownBody"
                        style="height: 460px"
                    >
                        <div class="headerDropdown notify">
                            <div class="headerDropdown__body">
                                <div class="headerDropdown__grid">
                                    <div class="dropdownNotifications">
                                        <div
                                            class="dropdownNotifications__noNotification"
                                        >
                                            <div
                                                class="dropdownNotifications__noNotificationIcon"
                                            >
                                                <div
                                                    class="nbl-icon nbl-icon_pull_56"
                                                    style="
                                                        width: 56px;
                                                        height: 56px;
                                                        font-size: 56px;
                                                        line-height: 56px;
                                                        color: rgb(
                                                            255,
                                                            255,
                                                            255
                                                        );
                                                    "
                                                ></div>
                                            </div>
                                            <div
                                                class="dropdownNotifications__noNotificationTitle"
                                            >
                                                Здесь появляются только важные
                                                сообщения
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
