@import '@/styles/vars.scss';

.wrapper {
    position: relative;
    width: 20%;
}

.select {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $secondary-bg-color;
    padding: 8px 16px;
    min-height: 60px;
    border-radius: 4px;
    gap: 5px;
    cursor: pointer;
    > div {
        font-size: 15px;
        line-height: 20px;
        color: $accent-color;
        font-weight: bold;
    }
    span {
        font-size: 13px;
        font-weight: bold;
        color: $link-color;
    }
    &::after {
        position: absolute;
        content: '';
        width: 9px;
        height: 2px;
        top: 50%;
        right: 22px;
        background-color: $accent-color;
        transform: rotate(30deg);
        transition: transform 0.2s ease-in-out;
    }
    &::before {
        position: absolute;
        content: '';
        width: 9px;
        height: 2px;
        top: 50%;
        right: 16px;
        background-color: $accent-color;
        transform: rotate(-30deg);
        transition: transform 0.2s ease-in-out;
    }
    &.active {
        background-color: $active-filter-color;
        &::after {
            transform: rotate(-30deg);
        }
        &::before {
            transform: rotate(30deg);
        }
    }
}

.genresDropdown,
.countriesDropdown,
.yearsDropdown {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: calc(100% + 4px);
    padding: 16px;
    background-color: $secondary-bg-color;
    border-radius: 4px;
    z-index: 9999;
}

.countriesDropdown,
.genresDropdown {
    min-width: 630px;
}

.yearsDropdown {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    padding: 16px;
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 49%;
    }
}

@media screen and (max-width: 728px) {
    .countriesDropdown,
    .genresDropdown {
        min-width: 412px;
    }
}

@media screen and (max-width: 700px) {
    .wrapper {
        width: 48.5%;
    }
}

@media screen and (max-width: 600px) {
    .wrapper {
        width: 100%;
    }
    .countriesDropdown,
    .genresDropdown {
        min-width: auto;
    }
}
