@import '@/styles/vars.scss';

.container {
    width: 270px;
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.image {
    border-radius: 8px;
    transform: scale(0.97);
    transition-duration: 0.3s;

    &_hover {
        transform: scale(1);
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.title {
    color: $film-name-color;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition-duration: 0.3s;

    &_hover {
        color: $accent-color;
    }
}

.text {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $link-color;

    &__delimiter {
        padding: 0 6px;
    }
}
